<div class="edit">
	<h1>Изменить товар</h1>

	<div class="addCForm">
		<div class="control-group">
			<label class="control-label" for="name">Название товара</label>
			<div class="controls">
				<input type="text" id="name" autocomplete="off"  [(ngModel)]="productAdd.name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="productCat">Категории товаров</label>
			<div class="controls">
				<!-- <select  (change)="onChange($event.target.value)">
					<option value="0" disabled="">Категории товаров</option>
					<option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
				</select>
			
				<select  *ngIf="selectedParent" (change)="onChangeParent($event.target.value)">
					<option value="0" disabled="">Категории товаров</option>
					<option *ngFor="let cat of selectedParent.childs" [value]="cat.id">{{cat.name}}</option>
				</select> -->

				<select *ngIf="productAdd.category">
					<option value="0" disabled="">{{productAdd.category.name}}</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="price">Базовая цена (KZT)</label>
			<div class="controls">
				<input type="text" id="price" autocomplete="off"  [(ngModel)]="productAdd.price">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="weight">Вес товара (кг)</label>
			<div class="controls">
				<input type="text" id="weight" autocomplete="off"  [(ngModel)]="productAdd.weight">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="tags">Метки</label>
			<div class="controls">
				<input type="text" id="tags" autocomplete="off"  [(ngModel)]="productAdd.tags">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="available">Количество (шт.) доступных товаров</label>
			<div class="controls">
				<input type="text" id="available" autocomplete="off"  [(ngModel)]="productAdd.available">
			</div>
		</div>

		<div class="clearfix" *ngIf="productAdd.images.length">
			<h1>Изображение товара</h1>
			<image-upload 	(change)="fileChange($event)"
							[buttonCaption]="'Добавить фото'"
							[dropBoxMessage]="'Или просто претяните фотографии в эту олбласть'"
							[class]="'customClass'"
							[uploadedFiles]="imgsSrc"
							[clearButtonCaption]="'Удалить все'"
							(removed)="onRemoved($event)">
			</image-upload>
		</div>

		<div class="clearfix">
			<hr>
			<div class="atribute-block">
				<h1>Атрибуты</h1>
				<div class="attribute" *ngFor="let item of attributes">
					<h2>{{item.name}}:</h2>
					<div class="attr-childs" *ngFor="let attr of item.items" (click)="toggleAttr(attr.id)" [class.clicked]="this.productAdd.attributes.indexOf(attr.id) !== -1">
						{{attr.name}}
					</div>
				</div>
			</div>
			<hr>
		</div>


		<div class="control-group full-width">
			<label class="control-label" for="price">Краткое Описание Товара</label>
			<div class="controls">
				<app-tinymce [(ngModel)]='productAdd.content'></app-tinymce>
				<!-- <textarea name="" id="" [(ngModel)]="productAdd.content"></textarea> -->
			</div>
		</div>
		<div class="clear"></div>

		<div class="control-group">
			<label class="control-label" for="price"></label>
			<div class="controls">
				<div>
					<div class="btn" (click)="deleteProduct()" style="border-color:red;background: transparent;color: #000">Удалить</div>
				</div>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="price"></label>
			<div class="controls">
				<div class="bottom-btns">
					<div class="btn" routerLink="/main/all" style="border-color:inherit;background: transparent;color: #000">Отмена</div>
					<div class="btn" (click)="changeProduct()">Обновить</div>
				</div>
				
			</div>
		</div>		
	</div>
</div>