<div class="add">
	<h1>Добавить новый товар</h1>
	
	<div class="addCForm">
		<input type="text" placeholder="Название товара" [(ngModel)]="productAdd.name">
		<select  (change)="onChange($event.target.value)">
			<option value="0" disabled="">Категории товаров</option>
			<option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
		</select>
	
		<select  *ngIf="selectedParent" (change)="onChangeParent($event.target.value)">
			<option value="0" disabled="">Категории товаров</option>
			<option *ngFor="let cat of selectedParent.childs" [value]="cat.id">{{cat.name}}</option>
		</select>

		<select  *ngIf="selectedChild" [(ngModel)]="productAdd.category">
			<option value="0" disabled="">Категории товаров</option>
			<option *ngFor="let cat of selectedChild.childs" [value]="cat.id">{{cat.name}}</option>
		</select>

		<div class="btn" (click)="addProduct()">Добавить</div>
	</div>
</div>