<section class="header">
	<div class="container-full">
		<div class="logo" (click)="mobNav = !mobNav">
			<div class="mob-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<b>KHOREX</b> | <span>Для продавцов </span>
		</div>
		<div class="header-nav">
			Привет, {{this.user.name}}
			<span class="logout" (click)="logout()">выйти</span>
		</div>
	</div>
</section>

<section class="left-nav" [class.open]="mobNav">
	<div class="container-full">
		<ul (click)="mobNav = false">
			<li>
				<div class="parent-nav"><img src="assets/img/shop.svg" alt=""> Товары</div>
			</li>
			<li class="child" routerLink="/main/all" routerLinkActive="active">
				<div>Все товары</div>
			</li>
			<li class="child" routerLink="/main/add" routerLinkActive="active">
				<div>Добавить новый</div>
			</li>
			<li>
				<div class="parent-nav"><img src="assets/img/order.svg" alt=""> Заказы</div>
			</li>
			<li class="child" routerLink="/main/orders" routerLinkActive="active">
				<div>Все заказы</div>
			</li>
		</ul>
	</div>
</section>

<div class="mobOverley" *ngIf="mobNav" (click)="mobNav = false"></div>

<section class="body">
	<div class="container-full">
		<router-outlet></router-outlet>
	</div>
</section>