.all {
	padding: 20px;
}

.all h1{
	margin-top: 0;
	padding-bottom: 10px;
	font-size: 27px;
	font-weight: 500;
	border-bottom: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}

.btn{
	float: right;
	margin: 0;
}

table{
	width: 100%;
	box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
}

table td {
    padding: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

table thead td {
    font-weight: 500;
}
span{
	color: blue;
	cursor: pointer;
}