<section class="login">
  <div class="container">
    <div class="login-left">
      <div class="login-top">
        <h2>Регистрация</h2>
      </div>
      <div class="login-bottom">
        <form #form="ngForm" (ngSubmit)="onRegisterForm()">
          <div class="form-g">
            <p>Email адрес:</p>
            <input type="email" name="email" required #email="ngModel" [(ngModel)]="user.email">
          </div>
          <div class="form-g">
            <p>Имя</p>
            <input type="text" name="name" required #name="ngModel" [(ngModel)]="user.name">
          </div>
          <div class="form-g">
            <p>Придумайте пароль</p>
            <input type="password" name="pass" required #pass="ngModel" [(ngModel)]="user.password">
          </div>

          <div class="form-g">
            <p>Идентификационный номер продавца</p>
            <input type="code" name="code" required #code="ngModel" [(ngModel)]="user.code">
          </div>

          <button type="submit">Регистрация</button>
          <p class="login-bottoml">Уже зарегистрированы? <a routerLink="/login">Войти</a></p>
        </form>
      </div>
    </div>
  </div>
</section>